# ADDITIONAL PROJECT

In [2]:
import pandas as pd
import numpy as np

In [899]:
my_series={"A":["k","k","l"],"B":["x","y","z"],"C":[7,8,9]}

my_data=pd.DataFrame(my_series,index=["a","b","c"])

In [901]:
my_data

   A  B  C
a  k  x  7
b  k  y  8
c  l  z  9

In [927]:
class my_ordinal_encoder:
    def __init__(self,df):
        self.df=df
    
    def encode(self):
        object_types=(self.df.dtypes=='object')
        categorical_variables=list(object_types[object_types].index)
        l=self.df.loc[:,categorical_variables]
        col_vals=[]
        for i in range(l.shape[1]):
            for j in range(l.shape[0]):
                col_vals.append(l.iloc[j,i])
        print(col_vals)
        seen=[]
        for i in range(l.shape[1]):
            for j in range(l.shape[0]*l.shape[1]):
                if col_vals[j] not in seen:
                    seen.append(col_vals[j])
                else:
                    pass
        print(seen)
        ordinality={}
        for i in seen:
            if seen.index(i)==col_vals.index(i):
                ordinality[i]=col_vals.index(i)%l.shape[0]
            else:
                ordinality[i]=seen.index(i)%l.shape[0]
        print(ordinality)
        l=list(ordinality.keys())
        lis=list(ordinality.values())
        print(l)
        print(lis)
        self.df=self.df.replace(l,lis)
        self.df.infer_objects(copy=False)
        return self.df

In [929]:
encoder1=my_ordinal_encoder(my_data)

In [931]:
encoder1.encode()

['k', 'k', 'l', 'x', 'y', 'z']
['k', 'l', 'x', 'y', 'z']
{'k': 0, 'l': 1, 'x': 2, 'y': 0, 'z': 1}
['k', 'l', 'x', 'y', 'z']
[0, 1, 2, 0, 1]

C:\Users\Shreshth\AppData\Local\Temp\ipykernel_10724\3522241092.py:33: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df=self.df.replace(l,lis)

   A  B  C
a  0  2  7
b  0  0  8
c  1  1  9